<!-- 
<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding class="home">
  <h2>Quem é esse politico?</h2>
  <p>
    Surgiu um nome novo na politica? Viu um candidato mas não o conhece bem?
    Busque maiores informações pelo nome dele e o conheça um pouco melhor.
  </p>

  <ion-list inset>
    <ion-item>
    <ion-label floating>Nome do político</ion-label>
      <ion-input [(ngModel)]="username" type="text"></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <button block click (click)="getPolicians()">Buscar</button>
  </div>

<!--   <ion-card *ngFor="let polician of foundPolicians" (click)="goToDetails(polician)">
    <ion-card-header>
      {{ polician.name }}
    </ion-card-header>
    <ion-card-content>
      {{ polician.cpf }}
    </ion-card-content>
  </ion-card> -->

<ion-list>
  <ion-item *ngFor="let polician of foundPolicians">
<!--     <ion-thumbnail item-left>
      <img src="img/thumbnail-totoro.png">
    </ion-thumbnail> -->
    <h2>{{ polician.name }}</h2>
    <p>{{ polician.cpf }}</p>
    <p>{{ polician.state.name }}</p>
    <!-- <button block [navPush]="pushPage" [navParams]="polician">Go</button> -->
    <button light block click (click)="goToDetails(polician)">Detalhes</button>
  </ion-item>
</ion-list>

</ion-content>
